html {
  font-size: 62.5%;
  font-family: 'Poppins';
  font-weight: 300;
  --primary1: #fabc3f;
  --primary2: rgba(0, 0, 255, 0.2);
  --accent: #821131;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-size: 1.6rem;
}

#container {
  display: grid;
  grid-template-rows: auto minmax(20rem, 1fr) auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

#header {
  background-color: var(--primary2);
  padding: 0 1.2rem 0 1.2rem;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr;
}

#middle {
  display: grid;
  margin: 1.2rem 1.2rem 1.2rem 1.2rem;
}

#footer {
  height: 2.4rem;
  background-color: whitesmoke;
}

.infoBox {
  margin-left: 0.8rem;
  margin-bottom: 0.4rem;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.infoBox > span:nth-child(2) {
  font-weight: 500;
  text-align: center;
}

.qRCodeDisplay {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  max-width: 80%;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.qRCodeContainer {
  padding: 1rem 0 1rem 0;
}

#profilePhoto {
  padding: 0.4rem 0 0.4rem;
  height: 4.5rem;
}

#middle {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

#middle > div:first-of-type {
  border-top: 0;
}

.mainContainer {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

#boardingPass {
  background-color: var(--primary1);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.fromToDisplay {
  display: grid;
  grid-template-rows: 100% 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.fromToDisplay > span {
  text-align: center;
}

#passengerName {
  margin-left: 0.8rem;
}

h1 {
  margin-left: 0.8rem;
}

.airPortName {
  font-weight: 200;
  font-size: 3.6rem;
}

.nextBoardingPassButton {
  cursor: pointer;
  display: flex;
  justify-content: right;
  align-items: center;
}

.nextBoardingPassButton > svg {
  height: 50%;
}

.nextBoardingPassButton:hover {
  transform: scale(1.05);
}

svg {
  width: auto;
  height: 100%;
}

.loadingDisplay {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
